@model ErrorMessage
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    
}
<div class="errorPanel">
    <h2>@Model.Title</h2>
    <hr class=""/>
    <p>
        <div class="alert"><h3>@Model.Message</h3>
        </div>
    </p>
    <div style="text-align: left;">
        <a href="javascript:history.back();" class="btn ">&nbsp;&nbsp;返回上一页&nbsp;&nbsp;</a>
    </div>

</div>