 html, body { padding: 0px; margin: 0px; width: 100%; height: 100%; }
    #div { min-height: 100%; }

td {
    vertical-align:middle !important;
}
.text-center {
    text-align:center;
}
html {
overflow: scroll;
}
.pagination {
    text-align:center;  
}

.select-small {
    width:120px;
}

.align-center {
   text-align:center;
}
.margin-top-mini {
    margin-top:5px;
}
.margin-right-small {
    margin-right:12px;
}

.margion-empty {
    margin:0 0 0 0 !important;
}

.margion-bottom-mini {
    margin-bottom:5px;
}

.text-long {
    width:500px !important;
}
/*sidebar*/

.sidebar-right-content {
    margin-right:300px;
}
.sidebar-right::before{
      content: "";
    border-left:1px solid #CCC;
    background-color:#f2f2f2;
    width:300px;
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    top:0;
    z-index:-1;
}


.sidebar-right{
  
    border-left:1px solid #CCC;
    background-color:#f2f2f2;
    width:300px;
    position: absolute;
    right: 0;
    bottom: 0px;
    top:40px;
}

.sidebar-right .actions {
    padding-left:15px;
    padding-top:10px;
}

.sidebar-right .tool {
    margin-left:22px;
}