 body { padding: 0px; margin: 0px;height: 100%; }
 
#div { min-height: 100%; }

/*table
    */
td {
    vertical-align:middle !important;
}
.td-seprow {
    border-left:none !important;
    border-right:none !important;
    height:25px !important;
}

.table-norightborder {
    border-right:none !important;
}

.table-norightborder .td-right {
    border-right:1px solid #dddddd !important;
}


.text-center {
    text-align:center;
}
html {
overflow: scroll;
}
.pagination {
    text-align:center;  
}

.select-small {
    width:120px;
}

.align-center {
   text-align:center;
}

/*Margin*/
.margin-top-mini {
    margin-top:5px;
}
.margin-right-small {
    margin-right:12px;
}

.margin-empty {
    margin:0 0 0 0 !important;
}

.margin-bottom-mini {
    margin-bottom:5px;
}

/*Padding*/
.padding-none {
    padding:0px 0px 0px 0px;
}

.text-long {
    width:500px !important;
}
/*sidebar*/

.sidebar-right-content {
    margin-right:300px;
}
.sidebar-right::before{
      content: "";
    border-left:1px solid #CCC;
    background-color:#f2f2f2;
    width:300px;
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    top:0;
    z-index:-1;
}


.sidebar-right{
  
    border-left:1px solid #CCC;
    background-color:#f2f2f2;
    width:300px;
    position: absolute;
    right: 0;
    bottom: 0px;
    top:40px;
}

.sidebar-right .actions {
    padding-left:15px;
    padding-top:10px;
}

.sidebar-right .tool {
    margin-left:22px;
}


#overlay { 
  background:#fff  no-repeat center center;
   height: 100%;
   width: 100%;
   opacity:0.8;
   position: fixed;
   z-index: 2000;
   left: 0;
   top: 0;
   display:none;
}

#overlay img.loading_circle {
    position: absolute;
    top: 50%;  
    left: 50%;
}


/*
    select
    */
select {
    margin-bottom:0px !important;
}
.select-small {
    width:160px;
}