@model IEnumerable<RequirementWithChildren>

@foreach (RequirementWithChildren item in Model)
{
    <li>
        <a href="@Url.Action("detail", "requirement", new { requirementId = item.Requirement.RequirementId})">
            <i class="@(item.IsLeafNode?" icon-file":"icon-folder-open")"></i>
           
                @item.Requirement.Title

        </a>
    
    @if (!item.IsLeafNode)
    {
        <ul>
                @Html.Partial("_SidebarPartial",item.Children)
            </ul>
    }
        </li>
}