@model IEnumerable<RequirementWithChildren>

@foreach (RequirementWithChildren child in Model)
{
    <li>
        @if (!child.IsLeafNode)
        {
            <input type="checkbox" id="item-@child.Requirement.RequirementId" />
            <label for="item-@child.Requirement.RequirementId">@child.Requirement.Title</label>
            <ul>
                @Html.Partial("_SidebarPartial",child.Children)
            </ul>
        }
        else
        {
            @*<a href="javascript:">@child.Requirement.Title</a>*@
            <span><i class="icon-tasks icon-white"></i>@child.Requirement.Title</span>
        }
    </li>
}