@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Requirement/Master.cshtml";
}

<div class="alert alert-info">
    请在右边选择您需要查看/编辑的需求
</div>

<br />
<img src="@Url.Content("~/Content/img/ad/xiaozhang.jpg")" />