@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<form class="form-inline">
    版本:&nbsp;
    <select id="selectVersion" class="select-small">
        <option>1.0 </option>
    </select>
    状态:
    <select class="select-small">
        <option>未分配</option>
        <option></option>
    </select>

    
    
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    版本
                </th>
                <th>
                    标题
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
    </table>
</div>
